.git
node_modules
vendor

.env
.env.*
auth.json

storage/logs
storage/*.key

public/hot
public/storage

.phpunit.result.cache
npm-debug.log
yarn-error.log

.vscode
.idea
.fleet

admin_assets.zip
resources/views (1).zip
