.top-text{
    font-size: 2rem;
}
.min-text{
    font-size: 1rem;
    text-align: center;
}
.channel-card{
    
    height: 150px;
    margin:6px;

}
.channel-card:hover{
    border: 1px solid rgb(57, 34, 34);
    cursor: pointer;
    
}
.img-size{
    width: 40px;
    margin-top:3rem;
    margin-left:3.5rem;
    
  }
.square-grad {
    color: #100f0f;
    border: none;
    border-radius: 0px;
    font-size: 20px;
    padding: 15px 30px;
    text-decoration: none;
    
}
.square-grad:hover{
    background-color: gray;
    color: rgb(0, 255, 162);
    
}
.two,.square-grad{
    color: #100f0f;
    border: none;
    border-radius: 0px;
    font-size: 20px;
    padding: 15px 30px;
    text-decoration: none;
}

.card1:hover {
    background:#00ffb6;
    border:1px solid #00ffb6;
  }

  .card1:hover .list-group-item{
    background:#00ffb6!important;
    display:none;
    
  }
  .cardheader1,.fa-square-check{
    background-color:#00ffb6;
    color:#16c840;
  }
  .ex{
    color: #ea3b7b;
  }
  .ac{
    color: #16c840;
  }
  .car1{
    display: none;
  }
  .car2{
    display: none;
  }

  .car3{
    display: none;
  }
  .car4{
    display: none;
  }
.h2{
  font-size: 1.5rem !important;
}


  .card2:hover {
    background:#00C9FF;
    border:1px solid #00C9FF;
  }

  .card2:hover .list-group-item{
    background:#00C9FF !important
  }


  .card3:hover {
    background:#ff95e9;
    border:1px solid #ff95e9;
  }

  .card3:hover .list-group-item{
    background:#ff95e9 !important
  }


  .card:hover .btn-outline-dark{
    color:white;
    background:#212529;
  }
  .card1,.card2,.card3{
    height: 100px !important;

  }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    width: 25%!important; 
    height: 400px!important;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
   /* width: 80%; /* Could be more or less, depending on screen size */
  }
   .modal-content1 {
    width: 35%!important; 
    height: 250px!important;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
   /* width: 80%; /* Could be more or less, depending on screen size */
  }
 
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .widgets {
    margin: 10px;
    
}
.widgets1{
  background-color: #e7e4e4!important;
  margin: 10px;
  cursor: pointer;
}
.connected{
  color: #16c840;
}

.checkmark {
  position: absolute;
  top: 0;
  left:87%;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #57e410;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #44f321;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
input:checked ~ .checkmark:after {
  display: block;
}
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.connected{
  display: none;
}
